/* Scoreboard */
#game-scoreboard {
	position: absolute;
	left: 100%;
	top: 0;
	padding: 16px 0 0 16px;
	white-space: nowrap;
}

/* Transition for when highscore is reached */
#game-scoreboard-current,
#game-scoreboard-high {
	padding-bottom: 8px;
	transition: 0.4s all ease-out;
}

#game-scoreboard-current td:first-child,
#game-scoreboard-high td:first-child {
	text-align: right;
	padding-right: 16px;
}

/* Current score */
#game-scoreboard-current {
	font-size: 32px;
	opacity: 1,
}
#game-scoreboard.has-highscore #game-scoreboard-current {
	opacity: 0;
}

/* High score */
#game-scoreboard-high {
	font-size: 16px;
}
#game-scoreboard.has-highscore #game-scoreboard-high {
	font-size: 46px;
}

/* Scoreboard buttons wrapper */
#game-scoreboard-buttons {
	display: flex;
	flex-direction: column;
}
#game-scoreboard-buttons .game-button {
	margin: 8px 0;
}

/* Clear high score button - hide when playing */
#game-inner-wrap.playing #game-btn-clear-high-score {
	visibility: hidden;
}

/* Reset and forfeit button */
#game-btn-forfeit,
#game-btn-reset {
	display: none;
}
/* Show when playing */
#game-inner-wrap.playing #game-btn-forfeit,
#game-inner-wrap.playing #game-btn-reset {
	display: block;
}
